{% extends "base.html"%}
{% block title %} Formulario de serviço {% endblock %}
{% block content %}
    <div class="card shadow mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h3 class="card-title mb-4 text-center">Solicite um Serviço</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefone (com DDD)</label>
                    <input type="tel" name="telefone" class="form-control" pattern="[0-9]{10,15}"
                                title="Informe apenas números, exemplo: 11999999999" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Serviço desejado</label>
                    <select name="servico" class="form-select" required>
                            <option disabled selected>Escolha um serviço</option>
                            <option>Consultoria</option>
                            <option>Desenvolvimento</option>
                            <option>Suporte Técnico</option>
                            <option>Outro</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success w-100">Enviar</button>
            </form>
            <div class="text-center mt-3">
            <a href="{{ url_for('login') }}" class="btn btn-outline-secondary">Acessar Admin</a>
            </div>
        </div>
    </div>
{% endblock content %}